{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block main %}

  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">{% translate 'Заказ' %} №{{ order.number }}</h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item">
              <a href="{% url 'main_page' %}">{% translate 'Главная страница' %}</a>
            </li>
            <li class="breadcrumbs-item">
              <a href="{% url 'order_history' %}">{% translate 'История заказов' %}</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current">
              <span>{% translate 'Заказ' %} №{{ order.number }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        <div class="Section-content">
          <div class="Orders">
          </div>
          <div class="Order">
            <div class="Order-infoBlock">
              <div class="Order-personal">
                <div class="row">
                  <div class="row-block">
                    <div class="Order-info Order-info_date">
                      <div class="Order-infoType">
                        {% translate 'Дата заказа' %}:
                      </div>
                      <div class="Order-infoContent">
                        {{ order.date }}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">
                        {% translate 'ФИО' %}:
                      </div>
                      <div class="Order-infoContent">
                        {{ order.user.name }}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">
                        {% translate 'Телефон' %}:
                      </div>
                      <div class="Order-infoContent">
                        {{ order.user.number }}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">
                        {% translate 'Электронная почта' %}:
                      </div>
                      <div class="Order-infoContent">
                        {{ order.user.email }}
                      </div>
                    </div>
                  </div>
                  <div class="row-block">
                    <div class="Order-info Order-info_delivery">
                      <div class="Order-infoType">
                        {% translate 'Тип доставки' %}:
                      </div>
                      <div class="Order-infoContent">
                        {{ order.delvery_type }}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">
                        {% translate 'Город' %}:
                      </div>
                      <div class="Order-infoContent">
                        {{ order.delivery_city }}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">
                        {% translate 'Адрес' %}:
                      </div>
                      <div class="Order-infoContent">
                        {{ order.delivery_address }}
                      </div>
                    </div>
                    <div class="Order-info Order-info_pay">
                      <div class="Order-infoType">
                        {% translate 'Оплата' %}:
                      </div>
                      <div class="Order-infoContent">
                        {{ order.payment.method }}
                      </div>
                    </div>
                    <div class="Order-info Order-info_status">
                      <div class="Order-infoType">
                        {% translate 'Статус' %}:
                      </div>
                      <div class="Order-infoContent">
                        {{ order.payment.status }}
                      </div>
                    </div>
                    {% if order.payment.status != 'paid' %}
                      <div class="Order-info Order-info_error">
                        <div class="Order-infoType">{{ order.payment.status }}
                        </div>
                        <div class="Order-infoContent">{{ order.payment.error_description }}
                        </div>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="Cart Cart_order">
                {% for product in order %}
                  <div class="Cart-product">
                    <div class="Cart-block Cart-block_row">
                      <div class="Cart-block Cart-block_pict">
                        <a class="Cart-pict" href="#">
                          <img class="Cart-img" src="{{ product.image }}" alt="card.jpg"/>
                        </a>
                      </div>
                      <div class="Cart-block Cart-block_info"><a class="Cart-title" href="#">{{ product.name }}</a>
                        <div class="Cart-desc">{{ product.description }}
                        </div>
                      </div>
                      <div class="Cart-block Cart-block_price">
                        {% if product.old_price %}
                          <div class="Cart-price_old">{{ product.old_price }}</div>
                        {% endif %}
                        <div class="Cart-price">{{ product.price }}</div>
                      </div>
                    </div>
                    <div class="Cart-block Cart-block_row">
                      <div class="Cart-block Cart-block_seller">
                        <div>
                          {% translate 'Продавец' %}:
                        </div>
                        <div>
                          {{ product.seller }}
                        </div>
                      </div>
                      <div class="Cart-block Cart-block_amount">
                        {{ product.amount }}
                      </div>
                    </div>
                  </div>
                {% endfor %}
                <div class="Cart-total">
                  <div class="Cart-block Cart-block_total">
                    <strong class="Cart-title">Итого:
                      <span class="Cart-price">{{ order.total_price }}</span>
                      {% if order.old_total_price %}
                        <span class="Cart-price_old">{{ order.old_total_price }}</span>
                      {% endif %}
                    </strong>
                  </div>
                  {% if order.payment.status != 'paid' %}
                    <div class="Cart-block">
                    <a class="btn btn_primary btn_lg" href="#">{% translate 'Оплатить' %}</a>
                  {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
