{% load static %}
<ul class="menu menu_img menu_smallImg {{ css_class }}">
  <li class="menu-item">
    <a class="menu-link" href="#">
      <img src="{% static 'assets/img/icons/socialHeader/fb.svg' %}" alt="fb.svg"/>
    </a>
  </li>
  <li class="menu-item">
    <a class="menu-link" href="#">
      <img src="{% static 'assets/img/icons/socialHeader/tw.svg' %}" alt="tw.svg"/>
    </a>
  </li>
  <li class="menu-item">
    <a class="menu-link" href="#">
      <img src="{% static 'assets/img/icons/socialHeader/in.svg' %}" alt="in.svg"/>
    </a>
  </li>
  <li class="menu-item">
    <a class="menu-link" href="#">
      <img src="{% static 'assets/img/icons/socialHeader/pt.svg' %}" alt="pt.svg"/>
    </a>
  </li>
  <li class="menu-item">
    <a class="menu-link" href="#">
      <img src="{% static 'assets/img/icons/socialHeader/mail.svg' %}" alt="mail.svg"/>
    </a>
  </li>
</ul>
