{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block main %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">{{ shop.name }}</h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item"><a href="{% url 'main_page' %}">{% trans 'Главная' %}</a></li>
                    <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'О магазине' %}</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Section Section_column Section_columnLeft Section_columnWide">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'assets/img/icons/advantages/shipping.svg' %}" alt="shipping.svg">
              </div>
              <div class="media-content">
                <strong class="media-title">{% trans 'Доставка' %} &amp; {% trans 'Возврат' %}</strong>
                <p class="media-text">{% trans 'Доставка по всему миру' %}
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'assets/img/icons/advantages/moneyBack.svg' %}" alt="moneyBack.svg">
              </div>
              <div class="media-content">
                <strong class="media-title">{% trans "Возврат денег" %}
                </strong>
                <p class="media-text">{% trans 'Гарантированные платежи' %}
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'assets/img/icons/advantages/support.svg' %}" alt="support.svg">
              </div>
              <div class="media-content">
                <strong class="media-title">{% trans 'Политика поддержки' %}
                </strong>
                <p class="media-text">{% trans 'Быстрая команда поддержки' %}
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'assets/img/icons/advantages/quality.svg'%}" alt="quality.svg">
              </div>
              <div class="media-content">
                <strong class="media-title">{% trans 'Гарантия качества' %}
                </strong>
                <p class="media-text">{% trans 'Лучшие товары с гарантией' %}
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_middle">
              <div class="media-image"><img src="{% static 'assets/img/icons/contacts/phone.svg' %}" alt="phone.svg">
              </div>
              <div class="media-content">{% trans 'Телефон' %}:
                <nobr>{{ shop.phone }}</nobr>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_middle">
              <div class="media-image"><img src="{% static 'assets/img/icons/contacts/address.svg' %}" alt="address.svg">
              </div>
              <div class="media-content">
                {% trans 'Адрес' %}: {{ shop.address }}
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_middle">
              <div class="media-image"><img src="{% static 'assets/img/icons/contacts/mail.svg' %}" alt="mail.svg">
              </div>
              <div class="media-content">{% trans 'Почта' %}: {{ shop.email }}
              </div>
            </div>
          </div>
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">{% trans 'Следи за нами' %}
              </strong>
            </header>
            <div class="Section-columnContent">
              <div class="Footer-payments Footer-payments_column">
                <div><img src="{% static 'assets/img/icons/socialContent/fb.png' %}" alt="fb.png">
                </div>
                <div><img src="{% static 'assets/img/icons/socialContent/tw.png' %}" alt="tw.png">
                </div>
                <div><img src="{% static 'assets/img/icons/socialContent/gg.png' %}" alt="gg.png">
                </div>
                <div><img src="{% static 'assets/img/icons/socialContent/in.png' %}" alt="in.png">
                </div>
                <div><img src="{% static 'assets/img/icons/socialContent/pt.png' %}" alt="pt.png">
                </div>
                <div><img src="{% static 'assets/img/icons/socialContent/ml.png' %}" alt="ml.png">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <div class="row row_verticalCenter row_maxHalf">
            <div class="row-block">
              <div class="pict"><img src="{{ shop.logo.url }}" alt="store_icon">
              </div>
            </div>
            <div class="row-block">
              <h2>
                  {{ shop.name }}
              </h2>
                {{ shop.description }}
            </div>
          </div>
          <header class="Section-header">
            <h2 class="Section-title">{% trans 'Товары' %}
            </h2>
          </header>
          <div class="Cards">
          {% if shop.shop_products.all %}
            {% for good in shop.shop_products.all %}
              <div class="Card
                  {% if forloop.counter > 4 %} hide_md {% endif %}
                  {% if forloop.counter > 6 %} hide_1450 {% endif %}">
                <a class="Card-picture" href="">
                  <img src="{{ good.product.images.all.0.file.url }}" alt="card.jpg"/>
                </a>
                <div class="Card-content">
                  <strong class="Card-title">
                    <a href="{{ good.product.get_absolute_url }}">{{ good.product.name }}</a>
                  </strong>
                  <div class="Card-description">
                    <div class="Card-cost">
                      {% if good.old_price %}
                        <span class="Card-priceOld">{{ good.old_price }}</span>
                      {% endif %}
                      <span class="Card-price">{{ good.price }}</span>
                    </div>
                    <div class="Card-category">{{ good.product.category }}
                    </div>
                    <div class="Card-hover">
                      <a class="Card-btn" href="{{ good.product.get_absolute_url }}">
                        <img src="{% static 'assets/img/icons/card/bookmark.svg' %}" alt="bookmark.svg"/>
                      </a>
                      <a class="Card-btn" href="{% url 'cart:random_add' good.product.pk %}">
                        <img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"/>
                      </a>
                      <a class="Card-btn" href="{% url 'add_to_compare' good.product.pk %}">
                        <img src="{% static 'assets/img/icons/card/change.svg' %}" alt="change.svg"/>
                      </a>
                    </div>
                  </div>
                </div>
                {% if shop.product.discount %}
                  <div class="Card-sale">-{{ shop.product.discount }}%
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          {% else %}
          <h2>Нет продуктов</h2>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}